# This is an example config file for depcheckpy
# to create a real config file: `cp config.yaml.example config.yaml`
# then add proper values in the config file
# see the README.md for more details.

# will not send data to connected clients
dry_run: false
