# to create a real config file: `cp config.yaml.example config.yaml`
# then add proper values in the config file
# see the README.md for more details.

# system is currently armed
system_armed: False

# system is current disarmed
system_disarmed: True

# Cameras are live
cameras_live: False
